{{#link-to 'users'}}Back{{/link-to}}
<h1>
  Page for user: {{model.id}}
</h1>
<div>
  <label for="First name">First name</label>
  {{input value=model.firstName}}
  <label for="First name">First name</label>
  {{input value=model.lastName}}
</div>
and his cars:
{{#each model.cars as |car|}}
  <li>{{car.id}} - {{car.label}}</li>
{{/each}}
