{{#link-to 'users'}}Back{{/link-to}}
<h1>
  Page for user: {{model.id}}
</h1>
<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="First name">First name</label>
        {{input id='usr-first-name' value=model.firstName class="form-control"}}
      </div>
      <div class="form-group">
        <label for="Last name">Last name</label>
        {{input value=model.lastName class="form-control"}}
      </div>
      <button id='update-user' type="submit" class="btn btn-default" {{action 'updateUser'}}>Update</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>And his cars:</h3>
    
    {{#each model.cars as |car|}}
      <li>{{car.id}} - {{car.label}}</li>
    {{/each}}
  </div>
</div>
