{{outlet}}
<h4>status: {{status}}</h4>
<button {{action 'goOnline'}}>set online</button>
<button {{action 'goOffline'}}>set offline</button>
<button {{action 'findFromLocal'}}>find</button>
<h2>Users</h2>
<h4>Is sync loaded: {{isUserSyncLoad}}</h4>
<ul>
  {{#each model.users key="@guid" as |user|}}
    <li>{{user.firstName}} {{user.lastName}} - {{user.gender}}</li>
  {{/each}}
</ul>
<h4>Add user</h4>
<button {{action 'createUser'}}>Create User</button>
<h2>Companies</h2>
<ul>
  {{#each model.companies key="@guid" as |company|}}
    <li>{{company.name}}</li>
  {{/each}}
</ul>
